h1 {
    color: var(--white);
}

p {
    color: var(--light-grey);
}

span {
    display: flex;
    color: var(--light-grey);
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
    gap: 18px;
    justify-content: space-evenly;
}

button {
    border-radius: 500px;
    padding: 14px 36px;
    border: none;
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: var(--white);
    cursor: pointer;
    background-color: var(--primary);
    transition: all 0.3s ease-in;
}

button:hover {
    color: var(--primary);
    background-color: var(--white);
}

.star {
    background-image: src('../images/star.png');
}

.active {
    background-color: var(--light-grey)!important;
    color: var(--white);
    outline: transparent;
}

.active:hover{
    /* outline: var(--primary) thin; */
    outline: 2.4px solid var(--primary);
    border: none;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--rating-size);
    height: var(--rating-size);
    border: none;
    border-radius: 50%;
    padding: 12px;
    background-color: var(--dark-blue);
    box-shadow: 1px -1px 2px #252d37,
             -1px 2px -5px #252d37;
    transition: all 0.3s ease-in;
}

span .rating:hover {
    background-color: var(--primary);
    color: var(--white);
}


